@font-face {
  font-family: "gilroy";
  src: url("gilroy.eot");
  src: url("gilroy.eot?#iefix") format("embedded-opentype"),
    url("gilroy.woff2") format("woff2"), url("gilroy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
